<div class="container-fluid">
    <h1>Hello Library </h1>
    <p>
        Contains the number of materials handled by the delivery plant on Dock 1 - usually by delivery of materials.

        ID represents the individual machines: 3.4 stands in the staff area, 5-8 are in the library room and 9 are
        outside.

        The values ​​are deliveries within 5, 60 and 1440 minutes. The value "today" is episodes today.
    </p>
</div>