{{!--Get data first --}}
<script type="text/javascript" src="/search-engine/javascripts/getData/getCvsspEnviromental.js"></script>
{{!--Get data first --}}
<br>
<h1 style="text-align: center"> Live Environmental Reading CVSSP - Living Lab </h1>
<hr>
<div class="container-fluid">
    <div class="row">
        {{!-- 3 --}}
        <div class="col">
            <canvas id="myChart" width="0" height="30" style="border:1px solid #000000;"></canvas>
        </div>

        {{!-- 4 --}}
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr style="text-align: center">
                    <th>Reading Number</th>
                    <th>Sensor ID</th>
                    <th>Value</th>
                    <th>Date/Time</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.data}}
                    <tr>
                        <td >{{@index}}</td>
                        <td>{{this.sensorID}}</td>
                        <td>{{this.value}}</td>
                        <td>{{this.timestamp}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <br>

</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/search-engine/javascripts/cvsspEnviromental.js"></script>
