<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <br>
                <!--<h5 style="text-align: center">Historic Data</h5>-->
                <ul class="fly-in-text hidden">
                    <li>W</li>
                    <li>E</li>
                    <li>L</li>
                    <li>C</li>
                    <li>O</li>
                    <li>M</li>
                    <li>E</li>
                </ul>
                <br>
                <br>
                <br>
                <div class="card-body" style="height:90%;">
                    <p class="fade-in">
                        <b>IoTCrawler</b> is a search engine for Internet of Things devices, making real-world data accessible
                        and
                        actionable in a secure and privacy-concerned manner.

                        IoTCrawler is a three-year long research project focusing on developing a “Google” for Internet
                        of
                        Things (IoT) devices. It aims at a paradigm change on both how IoT application can access IoT
                        resources and on how IoT resources can make themselves discoverable.
                    </p>
                    <br>
                    <!--<img src="https://iotcrawler.eu/wp-content/uploads/2018/03/PPT_Background7-1080x675.png" class="center-img fade-in" alt="" style="width: 50%;">-->
                    <img src="/search-engine/images/IoT-ECOSTYSTEM.png" class="center-img fade-in" alt="" style="height: 50%;">
                    <hr>
                    <b style="text-align: center">
                        If you have an IoT deployment we can make it securely available to the Internet Community. If
                        you have a Smart City / IoT platform we can integrate it too. We will be the reference point for
                        the discovery of IoT devices and any other source of information.
                    </b>
                    <hr>

                    <p>
                        Big Data is regarded as one of the key assets of future development. Big data from IoT will
                        constitute the next wave with estimated 50 billion of devices generating 1.6 Zettabytes of data
                        per year by 2020. This provides new business opportunities, and society impact factors e.g.
                        citizen democracy opportunities by open data, in areas such as Smart Cities, Social IoT, Health
                        Care, Smart Energy and Industry 4.0. However, today data and service discovery, search, and
                        access methods and solutions for IoT are in their infancy, like web search in its early days.
                        IoT search is different from Web search how. Current methods are more suited for fewer (hundreds
                        to millions) and static or stored data and services resources.

                        Currently, there is no adaptable and dynamic solution for effective integration of distributed
                        IoT data and support of data re-use in compliance with security and privacy needs, thereby
                        enabling a true digital single market. A large part of the developers’ time is spent on
                        integration.

                        The heterogeneity, multimodality, scale, distribution, uncertainty and incompleteness of often
                        continuous IoT data streams, and the dynamics of IoT environments demand for novel solutions
                        that are practical for large-scale dynamic IoT applications
                    </p>

                </div>
            </div>
            <br>
            <br>

            <!--<p><strong>Note:</strong> The article tag is not supported in Internet Explorer 8 and earlier versions.</p>-->
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {

        setTimeout(function () {
            $('.fly-in-text')
                    .removeClass('hidden');
        }, 100);

    })();

</script>
