<!--<script type="text/javascript" src="/search-engine/javascripts/realTimeTraffic.js"></script>-->
<script type="text/javascript" src="/search-engine/javascripts/searchResult.js"></script>
<script type="text/javascript" src="/search-engine/javascripts/search.js"></script>
<script type="text/javascript" src="/search-engine/javascripts/realTimeTraffic.js"></script>


<form method="get" action="/search-engine/realTimeTraffic" id="formSearch">
    <!--<form method="get" action="/searchResults" id="form">-->
    <div class="home-banner" style="padding-top: 10%;padding-bottom: 16%;">
        <div>
            <h1 style="text-align: center;">
                <img src="/search-engine/images/IoTCrawler_LogoColor_neg.png" width="230" height="37" alt=""
                     style="background-color: black;filter: grayscale(68%)">
            </h1>
        </div>
        <hr>
        <div class="container-fluid" style="text-align: center;">
            <div class="row">

                <div class="col">
                    <p></p>
                    <h5>Location</h5>
                </div>


                <div class="col">
                    <p></p>
                    <h5>Data Type</h5>
                </div>

                <div class="col">
                    <p></p>
                    <h5>Pattern</h5>
                </div>

                <div class="col">
                    <p></p>
                    <h5>Time Range</h5>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col">
                    <div class="input-group">

                        <input id="locationInput" name="locationInput" style="text-align: center" type="text"
                               class="form-control"
                               placeholder="City Of Aarhus" value="City Of Aarhus">

                        <div class="input-group-append">
                            <button class="btn btn-outline-default" type="button" data-toggle="collapse"
                                    data-target="#mapCoordPicker">
                                <i class="fa fa-map-marker-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <input id="readingTypeInput" name="readingTypeInput" style="text-align: center" type="text"
                               class="form-control"
                               placeholder="Data Type">

                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" data-toggle="collapse"
                                    data-target="#dataTypeMultiCollapse">
                                <i class="fa fa-server"></i>
                                <!--<i class="fa fa-grip-vertical"></i>-->
                            </button>
                        </div>

                    </div>
                </div>


                <div class="col">
                    <div class="input-group">

                        <input id="patternTypeInput" name="patternTypeInput" style="text-align: center" type="text"
                               class="form-control"
                               placeholder="Pattern type (e.g.) - Low">

                        <div class="input-group-append">
                            <button class="btn btn-outline-warning" type="button" data-toggle="collapse"
                                    data-target="#patternMultiCollapse">
                                <i class="fa fa-project-diagram"></i>
                                <!--<i class="fa fa-chart-area"></i>-->

                            </button>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="input-group">
                        <input id="timeRangeInput" name="timeRangeInput" style="text-align: center" type="text"
                               class="form-control"
                               placeholder="Time Range">

                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" data-toggle="collapse"
                                    data-target="#timeRangeMultiCollapse">
                                <i class="fa fa-server"></i>
                                <!--<i class="fa fa-grip-vertical"></i>-->
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="container-fluid" style="text-align: center;">
            <div class="row">

                <div class="col">
                    <p></p>
                    <h5></h5>
                </div>


                <div class="col">
                    <!--List of Reading/sensor type to pick from -->
                    <div class="form-group collapse multi-collapse" id="dataTypeMultiCollapse">
                        <select class="form-control" id="dataTypeSelection">
                            <option>Traffic</option>
                            <option>Environmental</option>
                            <option>Parking</option>
                            {{!--<option>Solar Panel</option>--}}
                        </select>
                    </div>
                    <!--List of Reading/sensor type to pick from -->
                </div>

                <div class="col">
                    <div class="form-group collapse multi-collapse" id="patternMultiCollapse">
                        <select class="form-control" id="patternSelection">
                            <option selected="selected">None</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group collapse multi-collapse" id="timeRangeMultiCollapse">
                        <select class="form-control" id="timeRangeSelection">
                            <option selected="selected" value="60">Past:1hr</option>
                            <option>Past:2hrs</option>
                            <option>Past:4hrs</option>
                            <option>Past:6hrs</option>
                            <option>Past:1day</option>
                            <option>Past:2days</option>
                            <option>Past:3days</option>
                        </select>
                    </div>
                </div>


            </div>

            <br>

            <div class="container-fluid">
                <div id="advancedSearch" class="collapse border border-dark">
                    <div class="row">
                        <!--Input 2-->

                        <div class="col">
                            <label for="ex2"> Data Source(s) </label>
                            <select multiple class="form-control border border-info" id="dataTypeSelect" name="dataType"
                                    required>
                                <option selected value="airPollutionBanegardsgade" id="airPollutionBanegardsgade"> Air
                                    Pollution
                                    Banegardsgade
                                </option>
                                <option selected value="airPollutionBotanicalGarden" id="airPollutionBotanicalGarden">
                                    Air
                                    Pollution Botanical Garden
                                </option>
                                <option selected value="parkingSpaces" id="parking"> Parking</option>
                                <br>
                                <option selected value="aarhusCityLabs" id="aarhusCityLabs"> Aarhus City Labs</option>
                                <option selected value="realTimeTraffic" id="realTimeTraffic">Real Time Traffic</option>
                                <option selected value="realTimeTrafficRoute" id="realTimeTrafficRoute" hidden> Aarhus City Labs</option>
                            </select>
                        </div>


                        <!--Input 4 hidden-->
                        <div class="col">
                            <label for="searchDate">Start From (Time) </label>
                            <input class="form-control border border-info" name="searchStartDate" id="searchStartDate"
                                   type="date" placeholder="dd/mm/yyyy --:--">

                            <!-- End date -->
                            <label for="searchDate">End (Time) </label>
                            <input class="form-control border border-info" name="searchEndDate" id="searchEndDate"
                                   type="date" placeholder="dd/mm/yyyy --:--">
                        </div>

                        <!--Input 1 hidden -->
                        <div class="col" id="sensorTypeSelect_1">
                            <label for="sensorName">Sensor Type</label>

                            <select multiple class="form-control border border-info" id="sensorTypeSelect"
                                    name="dataType" disabled>
                                <option id="sensorTypeSelect_1">Battery</option>
                                <option id="sensorTypeSelect_2">Charging power</option>
                                <option id="sensorTypeSelect_3">Air Temperature</option>
                                <option id="sensorTypeSelect_4">Water Temperature</option>
                                <option id="sensorTypeSelect_5">Humidity</option>
                                <option id="sensorTypeSelect_6">Pressure</option>
                                <option id="sensorTypeSelect_7">Distance To Water</option>
                                <option id="sensorTypeSelect_8">Wind Vane</option>
                                <option id="sensorTypeSelect_9">Wind Speed</option>
                                <option id="sensorTypeSelect_10">Rain</option>
                                <option id="sensorTypeSelect_11">Solar Radiation</option>
                                <option id="sensorTypeSelect_12">Lux</option>
                            </select>

                        </div>

                        <!--Input 3 hidden-->
                        <div class="col" hidden>
                            <label for="location-lat">Latitude </label>
                            <input class="form-control border border-info" name="locationLat" id="locationLat"
                                   type="number" step="any" placeholder="Pick Coordinates Via Map">
                            <label for="location-lng">Longitude </label>
                            <input class="form-control border border-info" name="locationLng" id="locationLng"
                                   type="number" step="any" placeholder="Pick Coordinates Via Map">
                            <hr>
                        </div>
                    </div>

                    <button type="button" aria-label="Close" class="btn btn-danger"
                            data-target="#advancedSearch"
                            data-toggle="collapse">
                        Close Window <span aria-hidden="true">&times;</span>
                    </button>

                    <button type="button" class="btn btn-info" data-toggle="collapse"
                            data-target="#mapCoordPicker">
                        <i class="fas fa-expand"></i>
                        Pick Coordinates Via Map
                    </button>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="input-group-append center-img" style="text-align: center;">
            <button type="submit" class="btn btn-md btn-dark" id="globalSearch" onclick="getData()"><i
                    class="fa fa-search"></i> Search &nbsp;
            </button>
        </div>

        <!--Map Picker Start -->
        <div class="container-fluid">
            <br>
            <div id="mapCoordPicker" class="collapse border border-dark" style="text-align: center;">
                <hr>
                <button style="width: 25%;" type="button" aria-label="Close" class="btn btn-sm btn-danger"
                        data-target="#mapCoordPicker"
                        data-toggle="collapse">
                    Close Window <span aria-hidden="true">&times;</span>
                </button>
                <hr>
                <h3 style="text-align: center" class="btn-info"> Map Picker (Only For Aarhus) </h3>
                <br>
                <div class="container-fluid">
                    <label id="mapPicker" class="label label-danger"> Error Loading Map!</label>
                </div>
                <br>
            </div>
        </div>
        <!--Map Picker End-->
    </div>

    <!--Advanced Search start -->
    <div style="bottom: 30%; width: 100%">
        <div class="container-fluid">
            <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="collapse"
                    data-target="#advancedSearch"><i
                    class="fas fa-expand"></i> Advance search
            </button>
        </div>
    </div>
    <!--Advanced Search end -->
    <br>
    <br>
</form>

