<div class="container">
    <br>
    <h1 style="text-align: center"><u>Sign Up</u></h1>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email"><b>User Name</b></label>
                <input class="form-control" type="text" placeholder="User Name" name="userName" required>
            </div>

            <div class="form-group col-md-6">
                <label for="email"><b>Email</b></label>
                <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
            </div>
        </div>


        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="psw"><b>Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
            </div>

            <div class="form-group col-md-6">
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input class="form-control" type="password" placeholder="Repeat Password" name="psw-repeat"
                       required>
            </div>
        </div>


        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                I agree to the <a href="" data-toggle="collapse" data-target="#collapseExample"
                                  aria-expanded="false" aria-controls="collapseExample"> terms and condition</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-9">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div>
                            <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est
                                ut
                                graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae
                                conclusionemque
                                at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex.
                                Phaedrum
                                imperdiet scribentur vix no, ad latine similique forensibus vel.</p>

                            <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus
                                ut vel,
                                quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim
                                id, ne
                                munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta
                                intellegebat eam.</p>

                            <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet
                                iisque quo,
                                prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in
                                vim, mea at
                                omnium oblique.</p>

                            <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei
                                iisque
                                legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio
                                lobortis
                                elaboraret pro. Vix te fabulas partiendo.</p>

                            <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per
                                et. Mea eu
                                mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu
                                nostrud
                                postulant dissentias qui. Postea tincidunt vel eu.</p>

                            <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius
                                nonumes,
                                no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero
                                meliore
                                deserunt ius ea. An qui inimicus inciderint.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
</div>



{{!--

<label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
--}}
