<div class="container">
    <br>
    <h1 style="text-align: center"><u>Submit Your Data Source</u></h1>
    <br>
    <form>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Type Your First Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Type Your Last Name" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputOrganisation">Organisation</label>
                <input type="text" class="form-control" id="inputOrganisation" placeholder="Type Your Organisation" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Type Your Email" required>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Data Source URL</label>
            <input type="url" class="form-control" id="inputDataSourceURL" placeholder="Type Your Data Source URL" required>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="inputCity">Country</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Type Your Country" required>
            </div>

            <div class="form-group col-md-4">
                <label for="inputCity">Region</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Data Source Region (if any)">
            </div>

            <div class="form-group col-md-4">
                <label for="inputZip">Postcode / Zip</label>
                <input type="text" class="form-control" id="inputZip" placeholder="Postcode / Zip (if any)">
            </div>
        </div>

        <div class="form-group">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                    I agree to the <a href="" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> terms and condition</a>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-9">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div>
                            <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est
                                ut
                                graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae
                                conclusionemque
                                at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex.
                                Phaedrum
                                imperdiet scribentur vix no, ad latine similique forensibus vel.</p>

                            <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus
                                ut vel,
                                quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim
                                id, ne
                                munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta
                                intellegebat eam.</p>

                            <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet
                                iisque quo,
                                prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in
                                vim, mea at
                                omnium oblique.</p>

                            <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei
                                iisque
                                legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio
                                lobortis
                                elaboraret pro. Vix te fabulas partiendo.</p>

                            <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per
                                et. Mea eu
                                mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu
                                nostrud
                                postulant dissentias qui. Postea tincidunt vel eu.</p>

                            <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius
                                nonumes,
                                no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero
                                meliore
                                deserunt ius ea. An qui inimicus inciderint.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success float-left">Submit</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

